{{ template "header" .}}
</head>

<body>
	<header>
		<!--<a href="/logout"><h3>ログアウト</h3></a>-->
		<form action="/logout" method="POST">
			<input type="submit" value="ログアウト">
		</form>
	</header>
	<h3>{{ .name }}</h3><br>
	<table>
		<tr>
			<td>タイトル</td>
			<td>読了</td>
			<td>取得巻</td>
		</tr>
		{{ range .Book }}
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ .Read }}</td>
			<td>{{ .Have }}</td>
		</tr>
		{{ end }}
	</table>
	<form method="GET" action="/addrecord">
		<input type="submit" value="書籍追加">
	</form>
{{ template "footer"}}
