{{ template "header" .}}
	<link rel="stylesheet" type="text/css" href="assets/css/top/top.css"> 
</head>
<body>
	<header>
		<div class="header">
			<div class="left">
				<h1>BOOK MANAGE</h1>
			</div>
			<div class="login">
				<a href="/login" class="left"><h2>ログイン</h2></a>
				<a href="/signup" class="login"><h2>新規登録</h2></a>
			</div>
		</div>
	</header>
	<center>
		<h1>ようこそ BOOK MANAGEへ</h1>
	</center>
	
{{ template "footer" }}
